#sobre {
  width: 100%;
  text-align: center;
  padding: 20px 0;

  .left-col {
    // background-image: url("../img/network.png");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    img {
      width: 350px;
    }
  }

  .right-col {

  }
}
